In [1]:
import numpy as np

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = np.random.randint(0, 100, (10, 2))

In [5]:
data

array([[36, 65],
       [ 6, 41],
       [71, 45],
       [11, 53],
       [ 7, 13],
       [31, 71],
       [39, 64],
       [59, 81],
       [18,  1],
       [20, 94]])

In [6]:
scaler_model = MinMaxScaler()

In [7]:
scaler_model.fit(data)

/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler_model.transform(data)

array([[0.46153846, 0.68817204],
       [0.        , 0.43010753],
       [1.        , 0.47311828],
       [0.07692308, 0.55913978],
       [0.01538462, 0.12903226],
       [0.38461538, 0.75268817],
       [0.50769231, 0.67741935],
       [0.81538462, 0.86021505],
       [0.18461538, 0.        ],
       [0.21538462, 1.        ]])

In [10]:
import pandas as pd

In [15]:
mydata = np.random.randint(0, 101, (50, 4))
mydata

array([[ 76,  83,  31,  85],
       [  3,  28,  96,   8],
       [ 52,  55,   6,  50],
       [ 51,  62,  52,  13],
       [  6,  68,  45,  22],
       [ 90,  87,  14,   5],
       [ 10,  13,   5,  69],
       [  9,  44,  12,  48],
       [ 31,  51,  94,  53],
       [ 71, 100,  84,  72],
       [ 75,  66,  10,  43],
       [ 98,  41,  39,  98],
       [ 35,   6,  36,   2],
       [ 56,  74,  43,  95],
       [ 94,  59,  88,  52],
       [  5,  68,  52,  87],
       [ 14,  33,  94,   4],
       [ 47,  63,  48,  89],
       [ 14,   7,  74,  24],
       [  5,  95,  24,  50],
       [ 16,  23,  45,  48],
       [ 39,  33,   3,  61],
       [  6,  33,  82,  97],
       [ 98,  18,  49,  84],
       [ 36,  34,  36,  13],
       [ 28,  83,  47,  65],
       [ 92,  37,  65,   6],
       [ 52,  37,  48,  55],
       [ 83,  49,  69,  56],
       [  8,  94,  53,  67],
       [ 26,  63,  96,  60],
       [ 92,  70,  84,  95],
       [ 12,  56,  87,  77],
       [ 18,  54,  32,   8],
       [ 26,  30,  92,  69],
       [ 51,  97,  49,  77],
       [  4,   0,  55,  35],
       [ 57, 100,  31,  68],
       [ 20,  47,  52,  93],
       [ 91,  19,  38,  16],
       [ 80,  57,  67,  93],
       [ 90,  89,  38,  84],
       [ 24,  75,  25,  18],
       [  7,  49,  48,  60],
       [ 61,   9,  53,  69],
       [ 58,  80,  32,   8],
       [ 37,  64,   7,  67],
       [ 36,  66,  70,  45],
       [ 91,  41,  93,  15],
       [ 83,  25,  39,  82]])

In [21]:
df = pd.DataFrame(data=mydata, columns=['f1', 'f2', 'f3', 'label'])

In [22]:
df

    f1   f2  f3  label
0   76   83  31     85
1    3   28  96      8
2   52   55   6     50
3   51   62  52     13
4    6   68  45     22
5   90   87  14      5
6   10   13   5     69
7    9   44  12     48
8   31   51  94     53
9   71  100  84     72
10  75   66  10     43
11  98   41  39     98
12  35    6  36      2
13  56   74  43     95
14  94   59  88     52
15   5   68  52     87
16  14   33  94      4
17  47   63  48     89
18  14    7  74     24
19   5   95  24     50
20  16   23  45     48
21  39   33   3     61
22   6   33  82     97
23  98   18  49     84
24  36   34  36     13
25  28   83  47     65
26  92   37  65      6
27  52   37  48     55
28  83   49  69     56
29   8   94  53     67
30  26   63  96     60
31  92   70  84     95
32  12   56  87     77
33  18   54  32      8
34  26   30  92     69
35  51   97  49     77
36   4    0  55     35
37  57  100  31     68
38  20   47  52     93
39  91   19  38     16
40  80   57  67     93
41  90   89  38     84
42  24   75  25     18
43   7   49  48     60
44  61    9  53     69
45  58   80  32      8
46  37   64   7     67
47  36   66  70     45
48  91   41  93     15
49  83   25  39     82

In [24]:
X = df[['f1', 'f2', 'f3']]

In [25]:
y = df['label']

In [26]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [29]:
X_train.shape

(35, 3)

In [30]:
X_test.shape

(15, 3)